:root {
    --white: #fff;
    --black: #041046;
    --lightBulue: #17a;
    --black-dark: #06090F;
    --black-light: #151B26;
    --white: #F7F9FC;
    --gray-1: #595A5C;
    --blue: #5390E3;
    --gradient-light: linear-gradient(225deg, #5390E3 8.12%, #1357B3 92.21%);
    --gradient-dark: linear-gradient(225deg, #1B69D2 0%, #07346F 100%);
    --gradient-black: linear-gradient(225deg, #0f131b 0%, rgb(8, 52, 109) 100%);
    --gradient-bemblack: linear-gradient(225deg, #151B26 0%, rgb(27, 27, 36) 100%);
}

.container__descricao-jogo {
    position: relative;
    width: calc(100% - 80px);
    left: 80px;
    margin-top: 100px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.jogo__info-vendas {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    /* Ajuste o máximo conforme necessário */
    height: 436px;
    /* Ajuste a altura conforme necessário */
    border-radius: 1rem;
    position: relative;
}

.carousel__item {
    min-width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.info-vendas {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
}

.tag__faixa-etaria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
    background-color: var(--black-light);
    border-radius: 0.5rem;
}

.tag__faixa-etaria p {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    padding: 0.875rem;
    border-radius: 0.5rem;
}

.tag__faixa-etaria h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

.mais18 {
    background-color: var(--black-dark);
}

.mais16 {
    background-color: red;
}

.mais14 {
    background-color: orange;
}

.mais12 {
    background-color: rgba(255, 221, 0, 0.934);
}

.livre {
    background-color: green;
}

.jogo__infos {
    max-width: 1180px;
    margin-top: 2rem;

}

.jogo__infos h3 {
    font-size: 2rem;
    font-weight: 700;
}

.jogo__infos p {
    color: var(--gray-1);
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 2rem;
}

.jogo__info-vendas button {
    width: 100%;

}

.btn__secondary:hover {
    background-color: var(--black-light);
}


#h4 {
    color: var(--gray-1);

}

/* AQUI FICARÁ OS REQUISITOS MINIMOS */

.requisitos-jogos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}

.minimos,
.recomendados {
    margin: 20px 10px 80px 0px;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    background-color: var(--black-light);
}

.minimos-text {
    position: relative;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.minimos-text h5 {
    font-size: 15px;
    margin-bottom: 20px;
    color: #d2dbe9;
    margin: 30px;

}

#h5 {
    color: #595A5C;
}

.jogo__infos-genero {
    display: flex;
    flex-direction: row;

}

.genero,
.recurso {
    width: 100%;
    border-left: 3px solid white;
    margin: 60px 10px 40px 0px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.info-genero,
.info-recurso {
    position: relative;
    top: 5px;
    left: 30px;
}


#info-genero, #info-recurso{
    color:#595A5C
}

/* 
/AQUI COMEÇA OS COMENTÁRIOS / */

.comentarios {
    width: 100%;
    max-width: 1160px;
    height: auto;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--white);
}

.box-coment {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid var(--blue);
    background-color: var(--black-light);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.coment__avaliacao {
    font-size: 1.5rem;
    display: flex;
    color: yellow;
}


#imagem-coment {
    max-width: 80%;
    /* / Para garantir que a imagem não ultrapasse os limites / */
    height: auto;
    /* / Mantém a proporção da imagem */
} 

.content-coment {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#nome-coment, #nome-coment1, #comentario__user {
    font-size: 1.125rem;
    font-weight: 500;
}

.form__comentario {
    background-color: var(--black-light);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__item label {
    font-size: 1.5rem;
    line-height: 140%;
    font-weight: 500;
    color: var(--blue);
}

.form__item textarea {
    width: 100%;
    border-radius: .5rem;
    background-color: var(--black-dark);
    padding: 1rem;
    border: none;
    color: var(--white);
    font-size: 1rem;
}

.form__textarea::placeholder {
    font-size: 1rem;
}

.form__buttons {
    display: flex;
    justify-content: end;
    padding: 1rem 0;
    gap: 1rem;
}

.form__hidden {
    display: none;
}

.comentarios__lista li { 
    margin-bottom: 1.5rem;
}