@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


:root {
    --white: #fff;
    --black: #041046;
    --lightBulue: #17a;
    --black-dark: #06090F;
    --black-light: #151B26;
    --white: #F7F9FC;
    --gray-1: #595A5C;
    --blue: #5390E3;
    --gradient-light: linear-gradient(225deg, #5390E3 8.12%, #1357B3 92.21%);
    --gradient-dark: linear-gradient(225deg, #1B69D2 0%, #07346F 100%);
    --gradient-black: linear-gradient(225deg, #0f131b 0%, rgb(8, 52, 109) 100%);
    --gradient-bemblack: linear-gradient(225deg, #151B26 0%, rgb(27, 27, 36) 100%);
}

/* mensagem de sucesso! */
/* mensagem de sucesso! */
/* mensagem de sucesso! */
.notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    /* Verde */
    color: white;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.notification.sucesso {
    display: block;
    background-color: #4CAF50;
    /* Verde */
    animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
}

.notification.erro {
    display: block;
    background-color: #f71303;
    /* Verde */
    animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* mensagem de sucesso! */
/* mensagem de sucesso! */
/* mensagem de sucesso! */

.container__descricao-jogo {
    position: relative;
    width: calc(100% - 80px);
    left: 80px;
    margin-top: 100px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.jogo__info-vendas {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.carrossel {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    /* Ajuste o máximo conforme necessário */
    height: 436px;
    /* Ajuste a altura conforme necessário */
    border-radius: 1rem;
    position: relative;
}

.carrossel__item {
    min-width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.info-vendas {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
}

.tag__faixa-etaria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
    background-color: var(--black-light);
    border-radius: 0.5rem;
}

.tag__faixa-etaria p {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    padding: 0.875rem;
    border-radius: 0.5rem;
}

.tag__faixa-etaria h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

.mais18 {
    background-color: var(--black-dark);
}

.mais16 {
    background-color: red;
}

.mais14 {
    background-color: orange;
}

.mais12 {
    background-color: rgba(255, 221, 0, 0.934);
}

.livre {
    background-color: green;
}

.jogo__infos {
    max-width: 1180px;
    margin-top: 2rem;

}

.jogo__infos h3 {
    font-size: 2rem;
    font-weight: 700;
}

.jogo__infos p {
    color: var(--gray-1);
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 2rem;
}

.jogo__info-vendas button {
    width: 100%;
}

.btn__secondary:hover {
    background-color: var(--black-light);
}


#h4 {
    color: var(--gray-1);

}

/* AQUI FICARÁ OS REQUISITOS MINIMOS */

.requisitos-jogos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minimos,
.recomendados {
    margin: 20px 10px 80px 0px;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    background-color: var(--black-light);
}

.minimos-text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.minimos-text h5 {
    font-size: 1rem;
    color: #d2dbe9;
    padding: .5rem;
}

#h5 {
    color: #595A5C;
}

.jogo__infos-genero {
    display: flex;
    flex-direction: row;
    gap: 5rem;

    margin: 3rem 0;
}

.genero,
.recurso {
    width: fit-content;
    height: 100%;
    padding: 1rem;
    border-left: 3px solid white;

    /* justify-content: center;
    align-items: center; */
}


#info-genero,
#info-recurso {
    color: #595A5C
}

/* 
/AQUI COMEÇA OS COMENTÁRIOS / */

.comentarios {
    width: 100%;
    max-width: 1160px;
    height: auto;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--white);
}

.box-coment {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid var(--blue);
    background-color: var(--black-light);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.coment__avaliacao {
    font-size: 1.5rem;
    display: flex;
    color: yellow;
}


#imagem-coment {
    max-width: 80%;
    /* / Para garantir que a imagem não ultrapasse os limites / */
    height: auto;
    /* / Mantém a proporção da imagem */
}

.content-coment {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#nome-coment,
#nome-coment1,
#comentario__user {
    font-size: 1.125rem;
    font-weight: 500;
}

.form__comentario {
    background-color: var(--black-light);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__item label {
    font-size: 1.5rem;
    line-height: 140%;
    font-weight: 500;
    color: var(--blue);
}

.form__item textarea {
    width: 100%;
    border-radius: .5rem;
    background-color: var(--black-dark);
    padding: 1rem;
    border: none;
    color: var(--white);
    font-size: 1rem;
}

.form__textarea::placeholder {
    font-size: 1rem;
}

.form__buttons {
    display: flex;
    justify-content: end;
    padding: 1rem 0;
    gap: 1rem;
}

.form__hidden {
    display: none;
}

.comentarios__lista li {
    margin-bottom: 1.5rem;
}


/* <!-- MODAL MODAL MODAL  MODAL MODAL MODAL  MODAL MODAL MODAL  MODAL MODAL MODAL  MODAL MODAL MODAL  MODAL MODAL MODAL --> */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.5s ease, visibility 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: var(--black-dark);
    border-radius: 10px;
    width: 70%;

    background: #0d111a;
    box-shadow: 7px 7px 14px #1e1f1f,
        -2px 7px 14px #0a1327;
    transform: translateY(-30px);
}

.close {
    color: #aaa;
    width: auto;
    font-size: 25px;
    float: right;
    height: 0;
    z-index: 0;
    margin-right: 10px;
    font-weight: bold;

}

.closePagamento {
    position: absolute;
    font-size: 25px;
    top: 0;
    right: 10px;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    transition: all .3s ease;
}

.closePagamento:hover,
.closePagamento:focus {
    color: #888;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #888;
    text-decoration: none;
    cursor: pointer;
}

.modal-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.left {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    border-radius: 10px;
}

.modal-patronicador {
    display: flex;
    width: 100%;
}

.modal-patronicador img {
    width: 30%;
}

.left span {
    width: 100%;
    border-bottom: 3px solid var(--blue);
    font-size: 2rem;
}


.left p {
    width: 100%;
    margin-top: 3rem;
    font-size: .9rem;
}

.right {
    flex: 2;
    border-radius: 10px;
}


.modal-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
}


.modal-button {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: .5rem;
    border-radius: 10px;
    border: 2px solid var(--lightBulue);

    &:hover {
        background-color: #151B26;
    }
}

.modal-button.active {
    background: var(--gradient-dark);
    border: none;
}


.modal-informations {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.modal-informations img {
    width: 55%;
    height: auto;
    flex: 1;
    border-radius: 1.2rem;
}

.modal-info-game {
    flex: 2;
    width: 100%;
    display: flex;

    justify-content: space-between;
    flex-direction: column;


}

.modal-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin-left: 10px;

    margin-bottom: 50px;
    font-size: 29px;
}


.modal-developement {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    align-items: flex-start;

}

.modal-info-game {
    display: flex;
    text-align: CENTER;
    margin-top: 5px;


}

.modal-price-container,
.modal-desconto-container,
.modal-total-container {
    display: flex;
    justify-content: space-between;
    width: 80%;

    margin: 5px auto;
}

.modal-desconto-container {
    border-bottom: 2.5px solid var(--blue);
    margin-top: .5rem;
}



.modal-price p,
.modal-desconto p,
.modal-total p {
    margin: 0;
}

.message {
    width: 97%;

    display: flex;
    justify-content: flex-end;
}

.mensagemSuccess {
    visibility: hidden;
}

.mensagemSuccess.show {
    visibility: visible;
}

.mensagemSuccess.success {
    color: green;
    font-weight: 500;
}

.mensagemSuccess.error {
    color: red;
    font-weight: 500;
}

.modal-codigo-promocional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    flex-direction: row;
}


.campo-promocional {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.campo-promocional input {
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: #041046;
    font-weight: 800;
    text-transform: uppercase;

}

.campo-promocional input::placeholder {
    font-size: 12px;
    text-align: center;

    color: #747683;
}

.modal-descricao-game {
    width: 100%;
    margin: 2rem 0;
    padding: 12px;
    text-align: start;
    background-color: #111622;
    border-radius: 20px;
    display: flex;
    justify-content: center;


}

.modal-button-finalizar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.modalPagamento {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.3s ease, visibility 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center ;
}

.modalPagamento-content {
    position: absolute;
    background: var(--gradient-bemblack);
    box-shadow: 7px 7px 14px #1e1f1f, -2px 7px 14px #0a1327;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: 'Raleway';

}


/* BOTAO DE FINALIZAR COMPRA */
/* BOTAO DE FINALIZAR COMPRA */
/* BOTAO DE FINALIZAR COMPRA */

button {
    padding: .5rem 1rem;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border: none;
    background-color: #051a35;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;

}

button:hover {
    color: #e8e8e8;
    cursor: pointer;
}

button:hover::before {
    width: 100%;
}


.modal-pagamento-seguro {
    display: flex;
    padding: 5px;
    width: 70%;
    margin: 0;

    border-radius: 5px;
    font-size: 10px;
    color: #979696;

}

.imagem-pagarme img {

    width: 30%;


}

.payment-title {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
}

.form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: 
        "name name" 
        "number number" 
        "expiration security"
        "btn btn"
    ;
    max-width: 400px;
    padding: 20px;
    color: #707070;
}

label {
    padding-bottom: 5px;
    font-size: 13px;
}

input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.container {
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
}

#ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
}

#ccsingle svg {
    width: 100px;
    max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

#generatecard {
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}

.creditcard .lightblue {
    fill: #03A9F4;
}

.creditcard .lightbluedark {
    fill: #0288D1;
}

.creditcard .red {
    fill: #ef5350;
}

.creditcard .reddark {
    fill: #d32f2f;
}

.creditcard .purple {
    fill: #ab47bc;
}

.creditcard .purpledark {
    fill: #7b1fa2;
}

.creditcard .cyan {
    fill: #26c6da;
}

.creditcard .cyandark {
    fill: #0097a7;
}

.creditcard .green {
    fill: #66bb6a;
}

.creditcard .greendark {
    fill: #388e3c;
}

.creditcard .lime {
    fill: #d4e157;
}

.creditcard .limedark {
    fill: #afb42b;
}

.creditcard .yellow {
    fill: #ffeb3b;
}

.creditcard .yellowdark {
    fill: #f9a825;
}

.creditcard .orange {
    fill: #ff9800;
}

.creditcard .orangedark {
    fill: #ef6c00;
}

.creditcard .grey {
    fill: #bdbdbd;
}

.creditcard .greydark {
    fill: #616161;
}

/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

#cardfront .st12 {
    fill: #4C4C4C;
    font-family: 'Raleway';
}

/* BACK OF CARD */
#cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

#cardback .st2 {
    fill: #111111;
}

#cardback .st3 {
    fill: #F2F2F2;
}

#cardback .st4 {
    fill: #D8D2DB;
}

#cardback .st5 {
    fill: #C4C4C4;
}

#cardback .st6 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardback .st7 {
    font-size: 27px;
}

#cardback .st8 {
    opacity: 0.6;
}

#cardback .st9 {
    fill: #FFFFFF;
}

#cardback .st10 {
    font-size: 24px;
}

#cardback .st11 {
    fill: #EAEAEA;
}

#cardback .st12 {
    font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
    font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
    perspective: 1000px;
}

.creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
}

.creditcard .front,
.creditcard .back {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
}

.creditcard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.button-pagamento {
    grid-area: btn;
    font-size: 15px;
    padding: .5rem 4rem;
    font-weight: 800;
    font-size: 1.2rem;
    color: black;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
    transition: all .3s ease;
    margin: 1.5rem 0;
}

.modalPagamento.show {
    visibility: visible;
    opacity: 1;

}


/* TELA DE AVISO QUE O PAGAMENTO FOI OK */


.modal-confirm {
    color: #636363;
    width: 325px;
    font-size: 14px;
}

.modal-confirm .modal-content2 {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/* Modal container */
.modalSucess {
    position: fixed;
    /* Use fixed para manter o modal fixo na tela */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    /* Use auto para permitir rolagem se necessário */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    /* Use flexbox para centralizar o conteúdo */
    align-items: center;
    /* Centralize verticalmente */
    justify-content: center;
    /* Centralize horizontalmente */
}

.modalSucess.active {
    opacity: 1;
    visibility: visible;
}

/* Modal content */
.modalSucess-content {
    width: 50%;
    /* Ajuste a largura conforme necessário */
    max-width: 500px;
    /* Define um limite máximo para a largura */
    background-color: white;
    /* Cor de fundo do conteúdo do modal */
    padding: 20px;
    /* Adicione algum espaçamento interno */
    border-radius: 5px;
    /* Adicione bordas arredondadas */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    /* Adicione uma sombra para o efeito de profundidade */
    text-align: center;
    /* Centralize o texto dentro do modal */
    color: green;
}

#closeBtn {
    color: white;
    font-weight: 500;
    padding: 7px;
    margin-top: 15px;
    background-color: green;
    transition: all .2s ease;
    opacity: 1;
    display: block;
    transition: opacity 0.8s ease, visibility 0.8s ease;

    &:hover {
        background-color: rgb(2, 61, 2);
    }
}

.modalSucess-content p {
    margin-top: 10px;
}


/* Loader da tela de pagamento */

.loader {
    margin: 0 auto;
    border: 8px solid #d4d1d1;
    border-top: 8px solid green;
    border-radius: 50%;
    width: 60px;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: visible;
    display: block;
    height: 60px;
    animation: spin 1s linear infinite;
}

.loader.disabled {
    opacity: 0;
    visibility: hidden;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 1440px) {
    .tag__faixa-etaria p {
        font-size: 1.8rem;
    }

    .tag__faixa-etaria h4 {
        font-size: 1.2rem;
    }

    .modal-content {
        width: 85%;
    }
}

@media (max-width: 960px) {

    .container__descricao-jogo {
        margin-top: 2rem;
    }

    .jogo__info-vendas {
        flex-direction: column;
    }

    .info-vendas,
    .jogo__infos,
    .comentarios {
        width: 90%;
    }

    .user img {
        width: 10%;
    }

    .content-coment {
        margin-bottom: .5rem;
    }

    .comentario,
    .comentarioNegativo,
    .comentario__p {
        font-size: .875rem;
    }

    .form__item textarea {
        max-height: 8rem;
    }

    .modal {
        left: 4%;
    }

    .modal-informations {
        flex-direction: column;
    }

    .modal-name {
        margin: 0;
    }

    .modal-imagem {
        display: none;
    }

    .modal-codigo-promocional {
        flex-direction: column;
        gap: 1rem;
    }

}

@media (max-width: 600px) {
    .container__descricao-jogo {
        width: 100%;
        left: 0%;
    }

    .jogo__info-vendas {
        width: 100%;
    }

    .jogo__infos-genero {
        flex-direction: column;
        gap: 1.5rem;
    }

    .modal {
        left: 0;
    }

    .modal-content {
        max-height: 700px;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .modal-box {
        flex-direction: column;
    }
}