:root {
    --white: #fff;
    --black: #041046;
    --lightBulue: #17a;
    --black-dark: #06090F;
    --black-light: #151B26;
    --white: #F7F9FC;
    --gray-1: #595A5C;
    --blue: #5390E3;
    --gradient-light: linear-gradient(225deg, #5390E3 8.12%, #1357B3 92.21%);
    --gradient-dark: linear-gradient(225deg, #1B69D2 0%, #07346F 100%);
    --gradient-black: linear-gradient(225deg, #0f131b 0%, rgb(8, 52, 109) 100%);
    --gradient-bemblack: linear-gradient(225deg, #151B26 0%, rgb(27, 27, 36) 100%);
}

.container__descricao-jogo {
    position: relative;
    width: calc(100% - 80px);
    left: 80px;
    margin-top: 100px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.jogo__info-vendas {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.carrossel {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    /* Ajuste o máximo conforme necessário */
    height: 436px;
    /* Ajuste a altura conforme necessário */
    border-radius: 1rem;
    position: relative;
}

.carrossel__item {
    min-width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.info-vendas {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
}

.tag__faixa-etaria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
    background-color: var(--black-light);
    border-radius: 0.5rem;
}

.tag__faixa-etaria p {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    padding: 0.875rem;
    border-radius: 0.5rem;
}

.tag__faixa-etaria h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

.mais18 {
    background-color: var(--black-dark);
}

.mais16 {
    background-color: red;
}

.mais14 {
    background-color: orange;
}

.mais12 {
    background-color: rgba(255, 221, 0, 0.934);
}

.livre {
    background-color: green;
}

.jogo__infos {
    max-width: 1180px;
    margin-top: 2rem;

}

.jogo__infos h3 {
    font-size: 2rem;
    font-weight: 700;
}

.jogo__infos p {
    color: var(--gray-1);
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 2rem;
}

.jogo__info-vendas button {
    width: 100%;
}

.btn__secondary:hover {
    background-color: var(--black-light);
}


#h4 {
    color: var(--gray-1);

}

/* AQUI FICARÁ OS REQUISITOS MINIMOS */

.requisitos-jogos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minimos,
.recomendados {
    margin: 20px 10px 80px 0px;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    background-color: var(--black-light);
}

.minimos-text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.minimos-text h5 {
    font-size: 1rem;
    color: #d2dbe9;
    padding: .5rem;
}

#h5 {
    color: #595A5C;
}

.jogo__infos-genero {
    display: flex;
    flex-direction: row;
    gap: 5rem;

    margin: 3rem 0;
}

.genero,
.recurso {
    width: fit-content;
    height: 100%;
    padding: 1rem;
    border-left: 3px solid white;

    /* justify-content: center;
    align-items: center; */
}


#info-genero, #info-recurso{
    color:#595A5C
}

/* 
/AQUI COMEÇA OS COMENTÁRIOS / */

.comentarios {
    width: 100%;
    max-width: 1160px;
    height: auto;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--white);
}

.box-coment {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid var(--blue);
    background-color: var(--black-light);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.coment__avaliacao {
    font-size: 1.5rem;
    display: flex;
    color: yellow;
}


#imagem-coment {
    max-width: 80%;
    /* / Para garantir que a imagem não ultrapasse os limites / */
    height: auto;
    /* / Mantém a proporção da imagem */
} 

.content-coment {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#nome-coment, #nome-coment1, #comentario__user {
    font-size: 1.125rem;
    font-weight: 500;
}

.form__comentario {
    background-color: var(--black-light);
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__item label {
    font-size: 1.5rem;
    line-height: 140%;
    font-weight: 500;
    color: var(--blue);
}

.form__item textarea {
    width: 100%;
    border-radius: .5rem;
    background-color: var(--black-dark);
    padding: 1rem;
    border: none;
    color: var(--white);
    font-size: 1rem;
}

.form__textarea::placeholder {
    font-size: 1rem;
}

.form__buttons {
    display: flex;
    justify-content: end;
    padding: 1rem 0;
    gap: 1rem;
}

.form__hidden {
    display: none;
}

.comentarios__lista li { 
    margin-bottom: 1.5rem;
}

@media (max-width: 1440px) {
    .tag__faixa-etaria p {
        font-size: 1.8rem;
    }
    .tag__faixa-etaria h4 {
        font-size: 1.2rem;
    }
}

@media (max-width: 960px) {

    .container__descricao-jogo {
        margin-top: 2rem;
    }

    .jogo__info-vendas {
        flex-direction: column;
    }

    .info-vendas, .jogo__infos, .comentarios {
        width: 90%;
    }

    .user img {
        width: 10%;
    }

    .content-coment {
        margin-bottom: .5rem;
    }

    .comentario, .comentarioNegativo, .comentario__p {
        font-size: .875rem;
    }

    .form__item textarea {
        max-height: 8rem;
    }
}

@media (max-width: 600px) {
    .container__descricao-jogo {
        width: 100%;
        left: 0%;
    }

    .jogo__info-vendas {
        width: 100%;
    }

    .jogo__infos-genero {
        flex-direction: column;
        gap: 1.5rem;
    }

}


 /* <!-- MODAL MODAL MODAL  MODAL MODAL MODAL  MODAL MODAL MODAL  MODAL MODAL MODAL  MODAL MODAL MODAL  MODAL MODAL MODAL --> */

 .modal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden; 
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.modal.show {
    visibility: visible;
    opacity: 1; 
}

    .modal-content {
        background-color:var(--black-dark);
        margin: 8% 8% 8% 16%;  
        border-radius:10px;
        width: 70%;
      
        background: #0d111a;
        box-shadow:  7px 7px 14px #1e1f1f,
                     -2px 7px 14px #0a1327;
        height: 70%; 
        transform: translateY(-30px); 
    }
    .close {
        color: #aaa;
        width: auto;
        font-size: 25px;
        float: right;
        height: 0;
        z-index: 0;
        margin-right: 10px;
      
        font-weight: bold;
       
    }
    
    .close:hover,
    .close:focus {
        color: #888;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-box {
        display: flex;   
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
        gap: 2rem; 
        padding: 1rem;
        box-sizing: border-box; 
    }
    
    .left {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1; 
        /* background-color: blue; */
        max-width: 30rem; 
        height: 35rem; 
        border-radius:10px;
    }
  
    .modal-patronicador{
        display: flex;
        width: 95%;
        height: 20%;
        
        align-items: center;
        justify-content: flex-start;
        
       

    }
    .modal-patronicador img{
        width: 30%;
        display: flex;
    
        align-items: flex-start;
    }

    .left span{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 91%;
        
        border-bottom:3px solid var(--blue);
        font-size:2rem;
    }
   

    .left p{
        width: 100%;
        height: auto;
        margin-left:5px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        font-size: .9rem;
    }
    
    .right {
        flex: 2; 
        position: relative; 
        max-width: 50rem; 
        height: 35rem; 
        border-radius:10px;
    }
    
  
    .modal-buttons{
        display: flex;
        margin: auto ;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 25rem;
        height: 18rem;
        /* background-color: red; */
        margin-bottom:2rem;
        
    }
    

    .modal-button{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 2.8rem;
        margin:10px;
        border-radius:10px;
        width: 25rem;
        border: 2px solid var(--lightBulue);
        
        &:hover{
            background-color: #151B26;
        }
    }
    .modal-button.active{
        background-color:#151B26; 
    }
   
    @media (max-width: 768px) {
        .modal-content {
          
            width: 80%;
            height: 95%; 
        }
            
        .modal-box {
            flex:2;
            flex-direction: column; /* Empilha os itens verticalmente em telas menores */
            gap: 1rem; /* Ajusta o espaçamento entre os itens */
        }
        .modal-buttons{
            display: flex;
            margin: auto ;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 20rem;
            height: 8rem;
            /* background-color: red; */
        }
        
        .left, .right {
            width: 100%; /* Ajusta a largura dos elementos para 100% em telas menores */
            height: auto; /* Ajusta a altura automaticamente para manter a proporção */
        }
    }


.modal-informations{
    display: flex;
    
    padding:10px;
    box-sizing: border-box; 
    font-size:1.1rem;
}

.modal-informations img{
    width: 55%;
    height: auto;
    flex:1;
    border-radius:1.2rem;
}

.modal-info-game{
    flex:2;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
   
}
.modal-name{
    display: flex;
    justify-content: center;
    align-items: fle;
    height: auto;
    width: 100%;
    margin-bottom:50px;
    hyphens: auto; 
    font-size: 29px;
}


.modal-developement{
display: flex;
justify-content: center;
width: 100%;
height: 40%;
align-items: flex-start;

}



.modal-info-game {
    display: flex;
    text-align: CENTER;
    margin-top:5px;
    
 
    
  }
  
  .modal-price-container,
  .modal-desconto-container,
  .modal-total-container {
    display: flex;
    justify-content: space-between;
    width: 80%; 
    
    margin:5px auto;  
  }
  .modal-desconto-container{
    height: 11%;
    border-bottom: 2.5px solid var(--blue);
  }
  
 
  
  .modal-price p,
  .modal-desconto p,
  .modal-total p {
    margin: 0;
  }

  .message{
    width: 97%;
   
    display: flex;
    justify-content: flex-end;
  }

 .mensagemSuccess {
  visibility: hidden;
}

.mensagemSuccess.show {
  visibility: visible; 
}

.mensagemSuccess.success {
    color: green; 
    font-weight: 500;  }
  
  .mensagemSuccess.error {
    color: red; 
    font-weight: 500;
  }

  .modal-codigo-promocional{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex:1;
    margin-left: 10px;
    
    flex-direction: row;
  }
 

.campo-promocional {
    display: flex;
    margin-right: 0;
    align-items: center;
    width: 50%;

    
    
    justify-content: space-evenly;
}

.campo-promocional input{
    padding:7px;
    border-radius:10px;
    border:none;
    outline: #041046;
    font-weight: 800;
    text-transform: uppercase;

}

.botao-promocional{
    padding:7px 15px;

}

  .modal-descricao-game{
    width: 100%;
    margin-top:5px;
    padding:12px;
    max-height: 25%;
    text-align: start;
    background-color: #111622;
    border-radius:20px;
    display: flex;
    justify-content: center;
    
  
    
  }
  
/* BOTAO DE FINALIZAR COMPRA */ /* BOTAO DE FINALIZAR COMPRA */ /* BOTAO DE FINALIZAR COMPRA */
.modal-button-finalizar{
    display: flex;
    width: 100%;
    align-items: center; 
    justify-content: space-between; 
    position: absolute;
    bottom: 0;
}
button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    
    z-index: 1;
    margin-top:20px;
    background: #e8e8e8;
    position: relative;
    bottom:10px;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border:none;
    background-color: #051a35;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
   
   }
   
   button:hover {
    color: #e8e8e8;
    cursor:pointer;
   }
   
   button:hover::before {
    width: 100%;
   }

    
   .modal-pagamento-seguro {
    display: flex;
    padding:5px;
    width: 70%;
    margin:0;
    
    border-radius: 5px; 
    font-size: 10px; 
    color: #979696; 
    
  }

   .imagem-pagarme img{

    width: 30%;


   }
 