.swiper {
    position: relative;
    width: calc(100% - 80px);
    left: 80px;
    top:-50px;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-title {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.swiper-navagation {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-next, .btn-prev {
    font-size: 1.5rem;
    padding: .5rem;
    color: var(--white);
    background: var(--gradient-light);
    border-radius: 50%;
    cursor: pointer;
}

.swiper h2 {
    color: var(--blue);
}

.swiper-slide {
    max-width: 280px;
    margin-right: 2rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.swiper-slide img {
    width: 100%;
    height: 350px;
    border-radius: .5rem;
    margin-bottom: .5rem;
}

.swiper-slide .informacoes{
    margin:0;
    display: flex;
    justify-content: space-between;
}
.swiper-slide .informacoes i{
    margin-left: 8px;

   
}
.ri-computer-line:hover,
        .ri-xbox-fill:hover,
        .ri-switch-line:hover,
        .ri-playstation-line:hover {
            color: var(--blue); 
        }
.swiper-slide h5 {
    color: var(--blue);
    
    margin-bottom: .5rem;
}

.swiper-slide div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.tag__promocao {
    padding: .5rem;
    background: var(--gradient-light);
    border-radius: .5rem;
}


