@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');

:root {
    --black-dark: #06090F;
    --black-light: #151B26;
    --white: #F7F9FC;
    --gray-1: #595A5C;
    --blue: #5390E3;
    --gradient-light: linear-gradient(225deg, #5390E3 8.12%, #1357B3 92.21%);
    --gradient-dark: linear-gradient(225deg, #1B69D2 0%, #07346F 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M PLUS 2", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--black-dark);
    overflow-x: hidden;
}

i {
    font-size: 1.4rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 3rem .5rem;
    border-right: 1px solid var(--black-light);
    transition: all .4s ease;
    color: var(--blue);
    z-index: 999;
    background-color: var(--black-dark);
}

.sidebar:hover {
    width: 18rem;
}

.sidebar__header {
    display: flex;
    align-items: center;
    gap: 0 1.5rem;
    margin-left: 1rem;
}

.sidebar__header img {
    width: 2.5rem;
}

.sidebar__header h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 140%
}

.sidebar__lista {
    list-style: none;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
    margin-top: 1rem;
}

.sidebar__lista::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.sidebar__lista li:hover {
    background-color: var(--black-light);
    border-radius: .5rem;
}

.divisao {
    margin-top: 2rem;
    height: 2px;
    background: var(--gradient-light);
}

.sidebar__lista h4 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 140%;
    margin: 1rem .5rem;
    white-space: nowrap;
    transition: all .5s ease;
    color: var(--blue);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;

        width: 100%;
        height: 2px;
        background: var(--gradient-light);
    }
}

.sidebar__lista span {
    opacity: 0;
}

.sidebar__link {
    display: flex;
    align-items: center;
    gap: 0 1.2rem;
    padding: 1rem 1.5rem;
    white-space: nowrap;

    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 80%;
        left: 5%;

        width: 0;
        height: 2px;
        background: var(--gradient-light);
        transition: .5s ease;
    }

    &:hover {
        &::after {
            width: 90%;
        }
    }
}

.sidebar:hover .sidebar__lista h4::after {
    width: 0;
}

.sidebar:hover .sidebar__lista h4 span {
    opacity: 1;
}

.usuario__conta {
    margin: 0 auto;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    color: var(--white);
}

.usuario__conta i {
    font-size: 2.5rem;
}

.usuario__perfil img {
    width: 3rem;
}

.usuario__descricao {
    white-space: nowrap;
    text-decoration: none;
    color: var(--white);
}

.usuario__descricao p {
    font-size: .775rem;
}


/* Home conteudo */
.home__conteudo {
    position: relative;
    width: calc(100% - 380px);
    height: 90vh;
    top: 40px;
    left: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    
    color: var(--white);
    background-color: var(--black-light);
    border-radius: 1rem;
}

.home__conteudo h2 {
    width: 60%;
    font-size: 2rem;
    line-height: 140%;
    font-weight: 700;
    color: var(--white);
}

.home__conteudo h4 {
    color: var(--gray-1);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 140%;
}

.aniversario {
    padding: .5rem 2rem;
    background-color: var(--black-dark);
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    color: var(--gray-1);

}

.btn__primary {
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    background: var(--gradient-dark);
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(7, 2, 34, 0.1);
}
.btn__primary:hover{
    transform: scale(1.01);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
   
} 

.btn__secondary {
    display: block;
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    border: 1px solid var(--blue);
    background: transparent;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(7, 2, 34, 0.1);
}


.home__conteudo input{
    outline: none;
    cursor: pointer;
}
/* configuração e ajuste do input*/
input[type="date"] {
    position: relative;
    color: white; /* cor do texto */
    
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 25px;
    color: white;
    opacity: 1;
    cursor: pointer;
    filter: invert(1);
   
}


input[type="date"]:focus {
    background-color: #03010e; /* cor de fundo ao focar */
    color: #fff; /* cor do texto ao focar */
    border-color: #777;
}

@media(min-width: 600px) {
    .home__conteudo h2 {
        width: 75%;
        font-size: 1.5rem;
    }
}


/* Estilo para o modal */
.modal {  
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    color:black;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    transition: opacity 0.1s ease-in-out;
    
}


.modal-content {
    background-color: #fefefe;
    margin: 20% auto; 
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Largura máxima do modal */
    position: relative;
    
}
.modal.show .modal-content {
    transform: scale(1);
    transition: opacity 0.1s ease-in-out;
}
/* Estilo para o botão de fechar */
.close {
    color: #aaa;
    position: relative;
    float: right;
    top:6px;
    left:10px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
   
}

.close:hover {
    color: black;
    text-decoration: none;
    transition: opacity 0.5s ease-in-out;
}


/* Inicio de ajuste do botão entrar */
.usuario__conta .usuario__perfil .ri-shield-user-line{
    font-size: 250%;
    margin:4px;
   
    
}

.usuario__perfil .usuario__descricao a {
    text-decoration: none;
    color: inherit; 
}


.wrapper__home {
    position: relative;
    width: calc(100% - 80px);
    left: 80px;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
}

.container__home {
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0 .5rem;
}

.container__home input {
    display: none;
}

.container__home input:checked + label {
    width: 1000px;
}

.card {
    border: 1px solid var(--black-light);
    width: 7rem;
    border-radius: 3rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    /* box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8); */
}

.card__info {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem;
    gap: 0 .5rem;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
}

.icon-card {
    background: var(--gradient-dark);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.descricao__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 43rem;
    height: 6rem;
    background-color: var(--black-light);
    border-radius: 1rem;
    padding: 0 .5rem;
    opacity: 0;
    transition-delay: .3s;
    transition: all .3s ease;
    overflow: visible;
}
.descricao__card span #value{
    width: 100%;
}

.descricao__card #value{
   width: auto;
   font-weight: 600;
   padding:3px;
   font-size: 15px;
   background-color: var(--gray-2);
   border: none;
   border-radius: 10px;
   position: relative;
   color:var(--white);

}
#value-oldprice{
    color:red;
}

.descricao__card h4 {
    display: flex;
    justify-content: space-between;
    flex-direction: reverse; 
    font-size: 1.125rem;
    width: auto;
}

.descricao__card p {
    color: var(--gray-1);
    font-size: 1rem;
}

.container__home input:checked + label .descricao__card {
    opacity: 1 !important;
}

.card[for="c1"] {
    background-image: url(../images/kof-home.jpg);
    background-position: center;
}
.card[for="c2"] {
    background-image: url(../images/horizon-home.jpg);
    background-position: center;
}

.card[for="c3"] {
    background-image: url(../images/cod-home.png);
    background-position: center;
}

.card[for="c4"] {
    background-image: url(../images/overcoked-home.avif);
    background-position: center;
}

.card[for="c5"] {
    background-image: url(../images/tekken-home.jpg);
    background-position: center;
}
.card[for="c6"] {
    background-image: url(../images/allan-wake.avif);
    background-position: center;
}

.container__card {
    position: relative;
    top:-10px;
    width: calc(100% - 80px);
    height: 100%;
    left: 80px;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
    color: var(--white);
}

.content__card {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.content__card img {
    width: 100%;
    border-radius: 1rem;
}

.content__card h4 {
    font-size: 1.5rem;
}